<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>


    <form action="/" method="get">
      <select name="projects">
          <% for(var i=0; i<projects.length; i++) {%>
          <option><%= projects[i] %></option>
          <% } %>
      </select>
      <br><br>
      <input type="submit">
    </form>

    <div class="container text-center">
      <button class="btn btn-primary pull-right" id="add_new_board">Add Board</button>
      <h1>Welcome to my Task Management App</h1>
      <div class="wrapper row no-margin" id="boards_container">
      </div>
    </div>

    <div class="overlay">
      <div class="popup">
        <button id="close_popup" class="btn btn-xs">x</button>

        <h2 class="add-board-form-title inactive">Add New Board</h2>
        <form id="add_board_form" class="inactive">
          <div class="form-group">
            <label for="add_board_name">Add Board Name</label>
            <input type="text" class="form-control" id="add_board_name" placeholder="Board Name">
          </div>
          <button type="submit" class="btn btn-primary">Add Board</button>
        </form>

          <!--//&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

        <h2 class="add-task-form-title inactive">Add New Task</h2>
        <form id="add_task_form" class="inactive" action="/new_task" method="post">

          <div class="form-group">
              <label for="add_task_desc">Task Description</label>
              <textarea class="form-control" id="add_task_desc" placeholder="Task Description" name="description" required></textarea>

              <label for="add_task_due_date">Due date</label>
              <input type="date" class="form-control" id="add_task_due_date" placeholder="" name="due">

              <label for="add_task_priority">Priority</label>
              <input type="text" class="form-control" id="add_task_priority" placeholder="" name="priority">

              <label for="add_task_project">Project</label>
              <input type="text" class="form-control" id="add_task_project" placeholder="" name="project">

              <label for="add_task_tags">Tags</label>
              <input type="text" class="form-control" id="add_task_tags" placeholder="" name="tags">
          </div>

          <input type="hidden" id="parent_board" />
          <input type="hidden" id="edit_task" value="false" />
          <input type="hidden" id="edit_task_index" />
          <button type="submit" class="btn btn-primary">Add Task</button>
        </form>

      </div>
    </div>

    <script type="text/html" id="task_template">
      <div class="task-actions">
        <button class="btn btn-xs edit-task">Edit</button>
        <button class="btn btn-xs delete-task">Delete</button>
      </div>
      <h4 class="board-name">::TaskDesc::</h4>
      <p>ID: ::TaskId::</p>
      <p>Status: ::TaskStatus::</p>
      <p>Entry: ::TaskEntry::</p>
      <p>Project: ::TaskProject::</p>
      <p>Due: ::TaskDue::</p>
      <p>Urgency: ::TaskUrgency::</p>
      <p>Priority: ::TaskPriority::</p>
    </script>

    <script type="text/html" id="board_template">
      <h3 class="board-title">::BoardName::</h3>
      <ul class="task-items" ondrop="MyApp.drop(event)" ondragover="MyApp.allowDrop(event)">
      </ul>
      <button class="btn btn-sm add-task">Add Task</button>
    </script>

    <!--<%# for(var i=0; i<tasks.length; i++) {%>-->
        <!--<div class="task">-->
            <!--<div class="task-actions">-->
                <!--<button class="btn btn-xs edit-task">Edit</button>-->
                <!--<button class="btn btn-xs delete-task">Delete</button>-->
            <!--</div>-->
            <!--<h4 class="board-name">::TaskDesc::</h4>-->
            <!--<p><%#= tasks[i].id %></p>-->
            <!--<p>::TaskStatus::</p>-->
            <!--<p>::TaskEntry::</p>-->
            <!--<p>::TaskProject::</p>-->
            <!--<p>::TaskDue::</p>-->
            <!--<p>::TaskUrgency::</p>-->
            <!--<p>::TaskPriority::</p>-->
        <!--</div>-->
    <!--<%# } %>-->

    <script src="js/script.js"></script>
    <script src="js/helper.js"></script>
    <script type="text/javascript">
        var tasksList = JSON.parse(htmlDecode("<%= JSON.stringify(tasks) %>"));
    </script>


  </body>
</html>
