.no-margin {
  margin: 0;
}
.btn-xs {
  padding: 0 4px;
}
.inactive {
  display: none;
}
.active {
  display: block;
}
form {
  /*border-top: 1px solid #ddd;*/
  /*padding-top: 15px;*/
}

.extra-info {
    display: none;
}


.hide-alert {
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
}

.centerBlock {
    display: table;
    margin: 0 auto;
}
/*.checkbox-label {*/
    /*/!*display: block;*!/*/
    /*/!*padding-left: 15px;*!/*/
    /*/!*text-indent: -15px;*!/*/
/*}*/
.checkbox-input {
    width: 13px;
    height: 13px;
    /*padding: 0;*/
    /*margin:0;*/
    vertical-align: bottom;
    /*position: relative;*/
    /*top: -1px;*/
    /**overflow: hidden;*/
}

.header {
    height: 65px;
    padding-bottom: 5px;
}

.tag-checkbox {
    /*color: #aaaaaa;*/
    color: whitesmoke;
    /*font-size: larger;*/
}

.main {
    margin-top: 90px;
}

.filter-form{
    /*padding-top: 7px;*/
    /*padding-left: 25px;*/
}

.navbar-form {
    padding: 2px;
    float: left
}

.head-row {
    margin-top: 10px;
    padding-left: 25px;
    margin-bottom: 10px;
}

.title {
    margin-top: 15px;
    line-height: 50%;
    color: white;
}
/*.wrapper {*/
  /*margin: 20px 0;*/
  /*height: 1000px;*/
  /*overflow-x: scroll;*/
/*}*/

.panel-primary {
    min-height: 700px;
    margin-bottom: 0px;
}

.panel-body {
    padding-left: 4px;
    padding-right: 4px;
}

.board-wrap {
  float: left;
  width: 270px;
  margin-right: 20px;
  /*padding: 9px 14px;*/
  /*margin-bottom: 14px;*/
  /*background-color: #f7f7f9;*/
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  min-height: 650px;
}

.task-items {
    min-height: 400px;
    /*width: 260px;*/
    padding: 1px;
  /*padding: 20px 0;*/
  text-align: left;
  list-style: none;
}
.board-title {
    text-align: center;
  text-transform: capitalize;
  margin: 0 0 15px;
  padding: 10px;
  border-bottom: 1px solid #666;
}
.task {
  position: relative;
  /*padding: 10px;*/
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-bottom: 7px;
}
.task:last-child {
  margin-bottom: 0;
}
.task-actions {
    width: 100%;
    /*background-color: red;*/
  /*position: absolute;*/
  /*top: 4px;*/
  /*right: 4px;*/
}
.task-title {
    text-align: center;
    /*width: 100px;*/
    /*background-color: yellow;*/
}

.task-body {
    /*height: 200px;*/
    word-wrap: break-word;
    /*background-color: #555500;*/

}

.edit-task, .delete-task {
    width: 50%;
}

/*.btn-group {*/
    /*width: 100%;!important;*/
/*}*/

#add_new_board {
  margin-top: 20px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
}
.overlay.open {
  display: block;
}
.popup {
  background: #fff;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 20px;
  width: 400px;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 100px;
  text-align: center;
}
#close_popup {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 700;
}
.add-board-form-title, .add-task-form-title {
  margin-top: 0;
}
.container {
  width: 1600px !important;
}

#calDAV {
    text-align: center;
}
